.logged_in-navbar .active-status {
  color: rgb(0, 255, 0);
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  font-size: 0.8em;
  margin-right: 5%;
}
.logged_in-navbar .nav-tabs {
  margin-left: 55%;
}
.logged_in-navbar .nav-profile_picture {
  width: 25%;
  height: 60%;
  border-radius: 50rem;
}
.logged_in-navbar .nav-item {
  padding-top: 4%;
}
.logged_in-navbar .dropdown-toggle {
  width: 100%;
}
.logged_in-navbar .dropdown-menu {
  width: 10%;
  border-radius: 0.4rem;
  z-index: 3;
}

.logged_in-navbar, .logged_out-navbar {
  background: linear-gradient(51deg, rgb(214, 27, 98) 0%, rgb(214, 27, 98) 10%, rgb(133, 186, 56) 100%, rgb(133, 186, 56) 100%);
  padding-bottom: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  height: 5.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
.logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
  width: 30%;
  padding-left: 5%;
}
.logged_in-navbar .logo-wrapper .pc-logo, .logged_out-navbar .logo-wrapper .pc-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logged_in-navbar .navbar-search-form, .logged_out-navbar .navbar-search-form {
  width: 45%;
  margin-left: 17%;
  top: 4.5%;
  position: absolute;
}
.logged_in-navbar .navbar-search-form .search-input-field, .logged_out-navbar .navbar-search-form .search-input-field {
  width: 60%;
  margin-left: 1%;
  background-color: white;
  color: black;
}
.logged_in-navbar .navbar-search-form .search-btn, .logged_out-navbar .navbar-search-form .search-btn {
  background-color: #3e7258;
  border-color: #3e7258;
  margin-left: 2%;
}
.logged_in-navbar .navbar-search-form .select-input-field, .logged_out-navbar .navbar-search-form .select-input-field {
  margin-left: 1%;
  font-size: 1rem;
}
.logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
  width: 100%;
  height: 100%;
  padding-top: 1.5%;
  padding-left: 43%;
}
.logged_in-navbar .nav-tabs .nav-item .nav-link, .logged_out-navbar .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  color: white;
}

@media (min-width: 384px) and (max-width: 411px) {
  .logged_in-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.8rem;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.8rem;
  }
  .logged_in-navbar .pc-logo, .logged_out-navbar .pc-logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 412px) and (max-width: 424px) {
  .logged_in-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.9rem;
  }
  .logged_out-navbar {
    width: 100%;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.9rem;
  }
  .logged_in-navbar .pc-logo, .logged_out-navbar .pc-logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 425px) and (max-width: 499px) {
  .logged_in-navbar .nav-tabs {
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .logged_out-navbar .nav-tabs {
    margin: 2% auto;
    font-size: 0.9rem;
  }
  .logged_in-navbar .pc-logo, .logged_out-navbar .pc-logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 680px) {
  .logged_in-navbar .nav-tabs {
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .logged_out-navbar .nav-tabs {
    margin: 2% auto;
    font-size: 0.9rem;
  }
  .logged_in-navbar .pc-logo, .logged_out-navbar .pc-logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 681px) {
  .logged_in-navbar, .logged_out-navbar {
    background-color: rgba(33, 37, 41, 0.748);
  }
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 40%;
  }
  .logged_in-navbar .logo-wrapper .pc-logo, .logged_out-navbar .logo-wrapper .pc-logo {
    display: none;
  }
  .logged_in-navbar .logo-wrapper .mobile-logo, .logged_out-navbar .logo-wrapper .mobile-logo {
    width: 30%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logged_in-navbar .sandwich-button, .logged_out-navbar .sandwich-button {
    background-color: transparent !important;
    font-size: 2rem;
    transition: color 0.3s ease;
    height: 3.3rem;
    margin-left: 45%;
    height: 100%;
    border: none;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .logged_in-navbar .open, .logged_out-navbar .open {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    padding: 1.5%;
    width: 40%;
    margin-left: 53%;
    margin-top: 20%;
    height: auto;
  }
  .logged_in-navbar .open .nav-item, .logged_out-navbar .open .nav-item {
    margin-bottom: 5%;
  }
  .logged_in-navbar .open .nav-item a, .logged_out-navbar .open .nav-item a {
    color: black !important;
  }
}
@media (min-width: 412px) and (max-width: 425px) {
  .logged_in-navbar .open, .logged_out-navbar .open {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    padding: 1.5%;
    width: 40%;
    margin-left: 53%;
    margin-top: 18%;
    height: auto;
  }
  .logged_in-navbar .open .nav-item, .logged_out-navbar .open .nav-item {
    margin-bottom: 5%;
  }
  .logged_in-navbar .open .nav-item a, .logged_out-navbar .open .nav-item a {
    color: black !important;
  }
}
@media (min-width: 500px) and (max-width: 682px) {
  .logged_in-navbar .open, .logged_out-navbar .open {
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    padding: 1.5%;
    width: 40%;
    margin-left: 53%;
    margin-top: 13%;
    height: auto;
  }
  .logged_in-navbar .open .nav-item, .logged_out-navbar .open .nav-item {
    margin-bottom: 5%;
  }
  .logged_in-navbar .open .nav-item a, .logged_out-navbar .open .nav-item a {
    color: black !important;
  }
}
@media (min-width: 681px) and (max-width: 768px) {
  .logged_in-navbar, .logged_out-navbar {
    background-color: rgba(33, 37, 41, 0.748);
  }
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 40%;
  }
  .logged_in-navbar .logo-wrapper .pc-logo, .logged_out-navbar .logo-wrapper .pc-logo {
    display: none;
  }
  .logged_in-navbar .logo-wrapper .mobile-logo, .logged_out-navbar .logo-wrapper .mobile-logo {
    width: 30%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    display: none;
  }
  .logged_in-navbar .sandwich-button, .logged_out-navbar .sandwich-button {
    background-color: transparent !important;
    font-size: 2rem !important;
    transition: color 0.3s ease !important;
    height: 3.3rem !important;
    margin-left: 45% !important;
    height: 100% !important;
    border: none !important;
    display: block;
  }
  .logged_in-navbar .open, .logged_out-navbar .open {
    position: absolute;
    z-index: 1;
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    padding: 1.5%;
    width: 40%;
    margin-left: 53%;
    margin-top: 10%;
    height: auto;
  }
  .logged_in-navbar .open .nav-item, .logged_out-navbar .open .nav-item {
    margin-bottom: 5%;
  }
  .logged_in-navbar .open .nav-item a, .logged_out-navbar .open .nav-item a {
    color: black !important;
  }
}
@media (min-width: 768px) {
  .logged_in-navbar, .logged_out-navbar {
    background: linear-gradient(51deg, rgb(214, 27, 98) 0%, rgb(214, 27, 98) 10%, rgb(133, 186, 56) 100%, rgb(133, 186, 56) 100%);
  }
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 50%;
  }
  .logged_in-navbar .logo-wrapper .mobile-logo, .logged_out-navbar .logo-wrapper .mobile-logo {
    display: none;
  }
  .logged_in-navbar .logo-wrapper .pc-logo, .logged_out-navbar .logo-wrapper .pc-logo {
    display: block;
  }
  .logged_in-navbar .sandwich-button, .logged_out-navbar .sandwich-button {
    display: none;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    display: flex;
    padding: 0;
    margin-left: -5% !important;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 50%;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    padding: 0;
    margin-left: 0% !important;
  }
  .logged_in-navbar .nav-tabs .nav-item, .logged_out-navbar .nav-tabs .nav-item {
    font-size: 0.9rem;
    margin-top: -1%;
  }
}
@media (min-width: 1024px) and (max-width: 1080px) {
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 35%;
    padding-left: 2%;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    margin-left: 15% !important;
  }
  .logged_in-navbar .nav-tabs .nav-item, .logged_out-navbar .nav-tabs .nav-item {
    font-size: 1.1rem;
  }
}
@media (min-width: 1080px) and (max-width: 1366px) {
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 50%;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    width: 100%;
    margin-left: 5% !important;
  }
  .logged_in-navbar .nav-tabs .nav-item, .logged_out-navbar .nav-tabs .nav-item {
    font-size: 1.2rem;
    margin-top: -1%;
  }
}
@media (min-width: 1366px) and (max-width: 1440px) {
  .logged_out-navbar .nav-tabs {
    padding: 1.5% 0 0 25%;
  }
  .logged_in-navbar .nav-tabs {
    padding-left: 25%;
  }
}
@media (min-width: 1440px) and (max-width: 1536px) {
  .logged_in-navbar .logo-wrapper, .logged_out-navbar .logo-wrapper {
    width: 50%;
  }
  .logged_in-navbar .nav-tabs, .logged_out-navbar .nav-tabs {
    width: 100%;
    margin-left: 20% !important;
  }
  .logged_in-navbar .nav-tabs .nav-item, .logged_out-navbar .nav-tabs .nav-item {
    font-size: 1.4rem;
  }
}
@media (min-width: 1536px) {
  .logged_out-navbar .nav-tabs {
    padding: 1.5% 0 0 15%;
  }
  .logged_in-navbar .nav-tabs {
    padding-left: 10%;
  }
}/*# sourceMappingURL=navbar.css.map */