//font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
//font-family: 'Mukta', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: linear-gradient(51deg, rgba(214,27,98,1) 0%, rgba(214,27,98,1) 10%, rgba(133,186,56,1) 100%, rgba(133,186,56,1) 100%);
    width: 100vw;
    .logoAndForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 5%;

        //Website logo
        .logo-wrapper{
            width: 50%;
            margin-bottom: 2%;

            .logo{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .search_form{
            width: 100%;

            .search-input {
                border-radius: 5rem;
                padding: 1%;
                border: none;
                outline: none;
                font-size: 1.3rem;
            }

            .select-category{
                border-radius: 5rem;
                border: none;
                outline: none;
                font-size: 1.3rem;
                padding: 1%;
                margin-left: 1%;
                background-color: white;
            }
    
            .search-btn{
                font-size: 1.5rem;
                border: none !important;
                background-color: transparent;
                width: 0;
                outline: none;
            }
        }
                
    }

    .home-navbar{
        width: 100%;
        ul{
            margin-left: 40%;
            display: flex;
            flex-direction: row;
            gap: 5%;
            li{
                list-style-type: none;

                a{
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
    }
}

.home-main-container{
    
    // Services banner
    .services-section{
        position: relative;
        padding-left: 4%;
        width: 100%;
        //Top Services || Loading Services... text
        h2{
            font-weight: 600px;
            font-family: 'Mukta', sans-serif;
            font-size: 2.5rem;
            margin-top: 2%;
            margin-left: 2.5%;
            height: 2%;
            text-align: left;
            color: rgb(82, 71, 71);
        }
    
        //Each service has same style
        .services-container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .service, .service-img{border-radius: .5rem;}

            .service{
                margin-top: 2%;
                margin-left: 2.5%;
                position: relative;
                width: 20%;
                height: 40vh;
                cursor: pointer;
                overflow: hidden;

                .service-Image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease-in-out;
                }

                .service-Image:hover{
                        opacity: 80%;
                        transform: scale(1.1);
                }

                .service-title, .service-title-span, .service-tagline{
                    position: absolute;
                    z-index: 2;
                    font-weight: 600px;
                    font-family: Arial;
                    margin-left: 5%;
                    color: white;
                    text-shadow: 2px 1px 2px black;
                    
                }
                    .service-title{margin-top: 65%; font-size: 1.3rem;}
                    .service-tagline{margin-top: 73%; font-size: 1.3rem;}
                    .service-title-span{margin-top: 72%; font-size: 1.8rem; font-weight: bold;}
                    #transportation-title{margin-top: 65%;}
                    #transportation-span{margin-top: 72%;}

            }

            
        }
    

    
    }

    .reassurance-section{
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10%;
        padding-top: 5%;

        .text{
            width: 35%;

            h3{
                color: #404145;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
            }

            ul{
                list-style-type: none;
                
                .sub-heading{
                    margin-bottom: 2%;
                }

                .bold{
                    color: #404145;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    font-style: bold;
                }

                .info{
                    color: #62646a;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    font-style: bold;
                }

            }
        }

        .image-container{
            margin: 0 auto;
            width: 50%;
            height: 100%;
            .image{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .getStarted{
        background-color: #3e7258;
        padding-top: 5%;
        padding-left: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        display: flex;
        flex-wrap: nowrap;
        height: 55vh;


        h5{
            font-size: 2rem;
            color: white;
            text-align: left;
        }

        .getStarted-btn{
            padding: 3%;
            border: none;
            border-radius: .5rem;
            font-size: 1.1rem;
            color: black;
            background-color: #ffff !important;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .getStarted-btn:hover{
            transform: scale(1.1);

        }

        .image{
            margin-top: -5%;
            margin-left: 5%;
            overflow: hidden;
            

        }
        
    }

     
}//End main container

@media (min-width: 320px) and (max-width: 375px) {
    .header {
        .home-navbar{ .sandwich-button {left: 58%;}
            .menu {
                display: none;
                &.open {margin-left: -5%;}
            }
        }
    }//End header
    .home-main-container .services-section .services-container .service{
        .service-title{margin-top: 75%;}
        .service-tagline{margin-top: 90%;font-size: 1rem;}
} 
}

@media (min-width: 375px) and (max-width: 425px) {
    .header {
        .home-navbar{ .sandwich-button {left: 70%;}
            .menu {
                display: none;
                &.open {margin-left: 8.5%;}
            }
        }
    }//End header
   
}

@media (min-width: 412px) and (max-width: 681px) {
    .header {
        .home-navbar{ .sandwich-button {left: 68%;}
            .menu {
                display: none;
                &.open {margin-left: 13%;}
            }
        }
    }//End header
    .home-main-container .services-section .services-container .service{
                .service-title{margin-top: 60%;}
                .service-tagline{margin-top: 70%;}
    }   
}

//Main style for header
@media (min-width: 320px) and (max-width: 681px) {
    .header {
        .logoAndForm{
            //Website logo
            .logo-wrapper{
                width: 100%;
                margin-bottom: 5%;
                .logo{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }
            }
    
            .search_form{
                .search-input {font-size: 1rem;}
    
                .select-category{font-size: 1rem;margin-top: 3%;}
        
                .search-btn{
                    font-size: 1.5rem;
                    border: none !important;
                    background-color: transparent;
                    width: 0;
                    outline: none;
                }
            }
                    
        }

        .home-navbar{
            .sandwich-button {
                background-color: transparent !important;
                position: relative;
                border: none;
                font-size: 2rem;
                transition: color 0.3s ease;
              }

            .menu {
                display: none;
               
                li{
                    list-style-type: none;
    
                    a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: white;
                    }
                }

                &.open {
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    display: flex;
                    background-color: whitesmoke;
                    padding: 1.5%;
                   
                }

                .nav-item{
                    margin-bottom: 15%;
                    a{color: black;}

                }
            }
         
        }
    }//End header
    
    .home-main-container .services-section .services-container {
        flex-direction: column;
        width: 90%;
        .service{
            margin: 0 auto 5%;
            width: 80%;
        }
    }
}

@media(min-width:681px){
    .sandwich-button{
        display: none;
    }
}

@media (min-width: 681px) and (max-width: 768px) {
    .header {
        .logoAndForm{
            //Website logo
            .logo-wrapper{
                .logo{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }
            }
    
            .search_form{
                .search-input {font-size: 1rem;}
    
                .select-category{font-size: 1rem;margin-top: 3%;}
        
                .search-btn{
                    font-size: 1.5rem;
                    border: none !important;
                    background-color: transparent;
                    width: 0;
                    outline: none;
                }
            }
                    
        }
        .home-navbar{ul{margin-left: unset;li{a{font-size: 1rem;}}}}
    }//End header

    .home-main-container .services-section .services-container .service{
            .service-title{margin-top: 120%;}
            .service-tagline{margin-top: 140%;}
            .service-tagline-4{font-size: 1.15rem;}
    }
   
}
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        .home-navbar{ul{margin-left: 10%;}}
    }//End header

     .home-main-container .services-section .services-container .service{
            .service-title{margin-top: 100%;}
            .service-tagline{margin-top: 120%;}
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .header {
        .home-navbar{ul{margin-left: 10%;}}
    }//End header

    .home-main-container .services-section .services-container .service{
            .service-title{margin-top: 80%;}
            .service-tagline{margin-top: 93%;}
    }
}
@media (min-width: 1440px) and (max-width: 1534px) {
    .header {
        .home-navbar{ul{margin-left: 25%;}}
    }//End header
    .home-main-container .services-section .services-container .service{
            .service-title{margin-top: 85%; font-size: 1.3rem;}
    }
}