@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: linear-gradient(51deg, rgb(214, 27, 98) 0%, rgb(214, 27, 98) 10%, rgb(133, 186, 56) 100%, rgb(133, 186, 56) 100%);
  width: 100vw;
}
.header .logoAndForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5%;
}
.header .logoAndForm .logo-wrapper {
  width: 50%;
  margin-bottom: 2%;
}
.header .logoAndForm .logo-wrapper .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .logoAndForm .search_form {
  width: 100%;
}
.header .logoAndForm .search_form .search-input {
  border-radius: 5rem;
  padding: 1%;
  border: none;
  outline: none;
  font-size: 1.3rem;
}
.header .logoAndForm .search_form .select-category {
  border-radius: 5rem;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 1%;
  margin-left: 1%;
  background-color: white;
}
.header .logoAndForm .search_form .search-btn {
  font-size: 1.5rem;
  border: none !important;
  background-color: transparent;
  width: 0;
  outline: none;
}
.header .home-navbar {
  width: 100%;
}
.header .home-navbar ul {
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.header .home-navbar ul li {
  list-style-type: none;
}
.header .home-navbar ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.home-main-container {
  position: absolute;
  background: linear-gradient(0deg, rgb(255, 255, 255) 75%, rgb(241, 253, 247) 100%);
}
.home-main-container .services-section {
  position: relative;
  padding-left: 4%;
  width: 100%;
}
.home-main-container .services-section h2 {
  font-weight: 600px;
  font-family: "Mukta", sans-serif;
  font-size: 2.5rem;
  margin-top: 2%;
  margin-left: 2.5%;
  height: 2%;
  text-align: left;
  color: rgb(82, 71, 71);
}
.home-main-container .services-section .services-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home-main-container .services-section .services-container .service, .home-main-container .services-section .services-container .service-img {
  border-radius: 0.5rem;
}
.home-main-container .services-section .services-container .service {
  margin-top: 2%;
  margin-left: 2.5%;
  position: relative;
  width: 20%;
  height: 40vh;
  cursor: pointer;
  overflow: hidden;
}
.home-main-container .services-section .services-container .service .service-Image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.home-main-container .services-section .services-container .service .service-Image:hover {
  opacity: 80%;
  transform: scale(1.1);
}
.home-main-container .services-section .services-container .service .service-title, .home-main-container .services-section .services-container .service .service-title-span, .home-main-container .services-section .services-container .service .service-tagline {
  position: absolute;
  z-index: 2;
  font-weight: 600px;
  font-family: Arial;
  margin-left: 5%;
  color: white;
  text-shadow: 2px 1px 2px black;
}
.home-main-container .services-section .services-container .service .service-title {
  margin-top: 65%;
  font-size: 1.3rem;
}
.home-main-container .services-section .services-container .service .service-tagline {
  margin-top: 73%;
  font-size: 1.3rem;
}
.home-main-container .services-section .services-container .service .service-title-span {
  margin-top: 72%;
  font-size: 1.8rem;
  font-weight: bold;
}
.home-main-container .services-section .services-container .service #transportation-title {
  margin-top: 65%;
}
.home-main-container .services-section .services-container .service #transportation-span {
  margin-top: 72%;
}
.home-main-container .reassurance-flex-box {
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(0deg, rgb(237, 255, 246) 76%, rgb(255, 255, 255) 100%);
  padding-left: 10%;
  padding-top: 10%;
}
.home-main-container .reassurance-flex-box .text {
  width: 35%;
}
.home-main-container .reassurance-flex-box .text h3 {
  color: #404145;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.home-main-container .reassurance-flex-box .text ul {
  list-style-type: none;
}
.home-main-container .reassurance-flex-box .text ul .sub-heading {
  margin-bottom: 2%;
}
.home-main-container .reassurance-flex-box .text ul .bold {
  color: #404145;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-style: bold;
}
.home-main-container .reassurance-flex-box .text ul .info {
  color: #62646a;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
}
.home-main-container .reassurance-flex-box .image-container {
  padding-left: 5%;
  padding-top: 2%;
  width: 50%;
}
.home-main-container .reassurance-flex-box .image-container .image {
  width: 100%;
}
.home-main-container .getStarted {
  background-color: #3e7258;
  padding-top: 5%;
  padding-left: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  height: 55vh;
}
.home-main-container .getStarted h5 {
  font-size: 2rem;
  color: white;
  text-align: left;
}
.home-main-container .getStarted .getStarted-btn {
  padding: 3%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  color: black;
  background-color: white !important;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.home-main-container .getStarted .getStarted-btn a {
  text-decoration: none;
  color: black;
}
.home-main-container .getStarted .getStarted-btn:hover {
  transform: scale(1.1);
}
.home-main-container .getStarted .image {
  margin-top: -5%;
  margin-left: 5%;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 375px) {
  .header .home-navbar .sandwich-button {
    left: 58%;
  }
  .header .home-navbar .menu {
    display: none;
  }
  .header .home-navbar .menu.open {
    margin-left: -5%;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .header .home-navbar .sandwich-button {
    left: 70%;
  }
  .header .home-navbar .menu {
    display: none;
  }
  .header .home-navbar .menu.open {
    margin-left: 8.5%;
  }
}
@media (min-width: 412px) and (max-width: 681px) {
  .header .home-navbar .sandwich-button {
    left: 68%;
  }
  .header .home-navbar .menu {
    display: none;
  }
  .header .home-navbar .menu.open {
    margin-left: 13%;
  }
  .home-main-container .services-section .services-container .service .service-title {
    margin-top: 60%;
  }
  .home-main-container .services-section .services-container .service .service-tagline {
    margin-top: 70%;
  }
}
@media (min-width: 320px) and (max-width: 681px) {
  .header .logoAndForm .logo-wrapper {
    width: 100%;
    margin-bottom: 5%;
  }
  .header .logoAndForm .logo-wrapper .logo {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header .logoAndForm .search_form .search-input {
    font-size: 1rem;
  }
  .header .logoAndForm .search_form .select-category {
    font-size: 1rem;
    margin-top: 3%;
  }
  .header .logoAndForm .search_form .search-btn {
    font-size: 1.5rem;
    border: none !important;
    background-color: transparent;
    width: 0;
    outline: none;
  }
  .header .home-navbar .sandwich-button {
    background-color: transparent !important;
    position: relative;
    border: none;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  .header .home-navbar .menu {
    display: none;
  }
  .header .home-navbar .menu li {
    list-style-type: none;
  }
  .header .home-navbar .menu li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
  .header .home-navbar .menu.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: flex;
    background-color: whitesmoke;
    padding: 1.5%;
  }
  .header .home-navbar .menu .nav-item {
    margin-bottom: 15%;
  }
  .header .home-navbar .menu .nav-item a {
    color: black;
  }
  .home-main-container .services-section .services-container {
    flex-direction: column;
  }
  .home-main-container .services-section .services-container .service {
    margin: 0 auto 5%;
    width: 80%;
  }
}
@media (min-width: 681px) {
  .sandwich-button {
    display: none;
  }
}
@media (min-width: 681px) and (max-width: 768px) {
  .header .logoAndForm .logo-wrapper .logo {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header .logoAndForm .search_form .search-input {
    font-size: 1rem;
  }
  .header .logoAndForm .search_form .select-category {
    font-size: 1rem;
    margin-top: 3%;
  }
  .header .logoAndForm .search_form .search-btn {
    font-size: 1.5rem;
    border: none !important;
    background-color: transparent;
    width: 0;
    outline: none;
  }
  .header .home-navbar ul {
    margin-left: unset;
  }
  .header .home-navbar ul li a {
    font-size: 1rem;
  }
  .home-main-container .services-section .services-container .service .service-title {
    margin-top: 120%;
  }
  .home-main-container .services-section .services-container .service .service-tagline {
    margin-top: 140%;
  }
  .home-main-container .services-section .services-container .service .service-tagline-4 {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .home-navbar ul {
    margin-left: 10%;
  }
  .home-main-container .services-section .services-container .service .service-title {
    margin-top: 100%;
  }
  .home-main-container .services-section .services-container .service .service-tagline {
    margin-top: 120%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .header .home-navbar ul {
    margin-left: 10%;
  }
  .home-main-container .services-section .services-container .service .service-title {
    margin-top: 80%;
  }
  .home-main-container .services-section .services-container .service .service-tagline {
    margin-top: 93%;
  }
}
@media (min-width: 1440px) and (max-width: 1534px) {
  .header .home-navbar ul {
    margin-left: 25%;
  }
  .home-main-container .services-section .services-container .service .service-title {
    margin-top: 85%;
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */