:export {
  primaryGrey: #62646a;
}

.inbox-container .search-form {
  width: 100%;
  position: relative;
}
.inbox-container .search-form .search-input {
  width: 90%;
  height: 2.1rem;
  font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: #62646a;
  display: block;
  margin: 5% auto;
  padding-left: 3%;
  border-radius: 0.4rem;
  border: 1px solid #62646a;
}
.inbox-container .inbox-main-container {
  position: relative;
}
.inbox-container .inbox-main-container .contacts .recent-chat {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.inbox-container .inbox-main-container .contacts .recent-chat .message {
  color: grey;
  font-size: 0.9rem;
  margin-left: 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%; /* Adjust the width as needed */
  display: block;
  margin-top: 1%;
}
.inbox-container .inbox-main-container .user-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  border: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.inbox-container .inbox-main-container .user-dropdown li:not(:first-child) {
  padding: 8px;
  border-bottom: 1px solid #62646a;
  cursor: pointer;
}
.inbox-container .inbox-main-container .user-dropdown li:not(:first-child):hover {
  background-color: lightgray;
}
.inbox-container .inbox-main-container .user-dropdown .close-button-list {
  cursor: pointer;
  text-align: right;
  margin-right: 5%;
  font-size: 1.2rem;
}
.inbox-container .inbox-main-container .user-dropdown.closed {
  display: none;
}
.inbox-container .inbox-main-container .contacts {
  font-size: 1.2rem;
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.inbox-container .inbox-main-container .contacts li {
  padding: 3%;
  border: 1px solid #62646a;
}

@media (min-width: 280px) {
  .chat-navigation {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #62646a;
    background: linear-gradient(51deg, rgb(214, 27, 98) 0%, rgb(214, 27, 98) 10%, rgb(133, 186, 56) 100%, rgb(133, 186, 56) 100%);
    color: white;
    z-index: 2;
  }
  .chat-navigation .back-arrow-container {
    padding: 6% 4% 4% 4%;
  }
  .chat-navigation .back-arrow-container .back-arrow {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .chat-navigation .userInfoContainer {
    display: flex;
    padding-top: 4%;
    flex-direction: column;
    height: 4rem;
  }
  .chat-navigation .userInfoContainer .active-status {
    color: rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    font-size: 0.6rem;
    display: inline;
    margin-right: 3%;
  }
  .chat-navigation .userInfoContainer .username-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-left: 3%;
  }
  .chat-navigation .userInfoContainer .username-container .username {
    font-size: 1.5rem;
  }
  .chat-navigation .userInfoContainer .typing-alert {
    color: #62646a;
    font-size: 1rem;
    margin-left: 12%;
    margin-top: -6%;
  }
  .chat-main-container .chat-box {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3%;
    height: 90vh;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid;
  }
  .chat-main-container .message-container {
    display: flex;
    margin-bottom: 10px;
  }
  .chat-main-container .message-container .message {
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  .chat-main-container .message-container .message .file-sender a {
    color: white;
    background-color: black;
  }
  .chat-main-container .message-form {
    display: flex;
    padding: 3%;
    height: 100%;
  }
  .chat-main-container .message-form .message-input {
    width: 100%;
    border: 1px solid #62646a;
    padding-left: 3%;
    border-radius: 2rem;
  }
  .chat-main-container .message-form .btn {
    width: 15%;
    border: none;
    background-color: transparent !important;
  }
  .chat-main-container .message-form .btn .icon {
    font-size: 1.2rem;
    color: #62646a;
  }
  .chat-main-container .message-form .file-upload-btn #document {
    display: none;
  }
}
@media (min-width: 768px) {
  .chat-navigation .back-arrow-container {
    padding: 5% 4% 4% 4%;
  }
  .chat-main-container .chat-box {
    height: 88vh;
  }
  .chat-main-container .message-form {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 5.3rem;
  }
}/*# sourceMappingURL=chatComponent.css.map */