//font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
//font-family: 'Mukta', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

button{
    background-color: #fd8700 !important;
}

.epr-btn{
    background-color: unset !important;
}
.header {
       
    position: absolute;
    width: 100vw;
    display: flex;
    flex-wrap: no-wrap;

    
    
        .logged_out-navbar {
            display: flex;
            z-index: 1;
            margin-left: 68%;
            margin-top: 1%;
            background-color: transparent;
            ul {
                display: flex;
                list-style: none;
                margin: -6% 0 0 -8%;
                padding: 0;
                li {
                            a {
                                text-decoration: none;
                                color: white; /* change color to white */
                                font-family: 'Roboto Condensed', sans-serif; /* specify the font-family */
                                font-size: 1.6rem; /* you can adjust the font size */
                            }
                    }
            }
        }
   
     

    .red-gradient {
        position: absolute;
        background: linear-gradient(51deg, rgba(214,27,98,1) 0%, rgba(214,27,98,1) 10%, rgba(133,186,56,1) 100%, rgba(133,186,56,1) 100%);
        width: 100%;
        height: 30vh;

        .logo{
            height: 100%;
            width: 15%;
            object-fit: contain;
            position: absolute;
            margin-top: -5%;
            margin-left: 6.5%;
            z-index: 3;
        }

        .title {
            font-weight: 600px;
            font-family: Arial;
            font-size: 2rem;
            position: absolute;
            top: 7%;
            left: 7.5%;
            color: white;
        }
        

        .search_form{
            position: relative;
            z-index: 4;
            width: 100%;
            .category{
                position: absolute;
                margin-left: -2%;
                margin-top: -2%;
                height: 50px;
                width: 80px;
                background: grey;
                border-radius: 32px;
                border: none;
                padding-left: 2%;
                outline: none;
                font-size: 1.3rem;
            }

            .tagline{
                font-weight: 600px;
                font-family: Arial;
                font-size: 1.2rem;
                position: absolute;
                top: 44%;
                left: 7%;
                color: white;
            }
            .search {
                position: absolute;
                left: 90px;
                top: 80px;
                height: 50px;
                width: 300px;
                background: white;
                border-radius: 32px;
                border: none;
                padding-left: 2%;
                outline: none;
                font-size: 1.3rem;
            }

           

        

            .category{
                position: absolute;
                left: 430px;
                top: 110px;
                height: 50px;
                width: 150px;
                background: white;
                border-radius: 1rem;
                border: none;
                padding-left: .5%;
                outline: none;
                font-size: 1rem;

            }
    
            .search-btn{
                font-size: 1.5rem;
                position: absolute;
                margin-left: 23%;
                margin-top: 5.8%;
                border: none !important;
                background-color: transparent;
                width: 0;
                outline: none;
                z-index: 5;
            }
    

        }
       
    
    }
 

}//End header

.home-main-container{
    margin-top: 14%;
    position: absolute;
    background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(241,253,247,1) 100%);
    
    .flexible-services{
        position: relative;
        width: 100vw;
        padding-left: 4%;
        
        h2{
            font-weight: 600px;
            font-family: 'Mukta', sans-serif;
            font-size: 2.5rem;
            margin-top: 2%;
            margin-left: 2.5%;
            height: 2%;
            text-align: left;
            color: rgb(82, 71, 71) ;

        }
    
        .services{
            display: flex;
            flex-wrap: wrap;
            width: 100vw;

            .service, .service-img{
                border-radius: .5rem;
            }
            .service{
                display: inline-block;
                margin-top: 2%;
                margin-left: 2.5%;
                position: relative;
                width: 20%;
                height: 40vh;
                cursor: pointer;
                overflow: hidden;
                background-color: rgb(98, 98, 98);

                .service-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease-in-out;

                }

                .service-img:hover{
                        opacity: 80%;
                        transform: scale(1.1);
                }

                .service-title, .service-title-span, .service-tagline{
                    position: absolute;
                    z-index: 2;
                    font-weight: 600px;
                    font-family: Arial;
                    margin-left: 5%;
                    color: white;
                    text-shadow: 2px 1px 2px black;
                    
                }

                    
                    .service-title{margin-top: 65%; font-size: 1.3rem;}
                    .service-tagline{margin-top: 73%; font-size: 1.3rem;}
                    .service-title-span{margin-top: 72%; font-size: 1.8rem; font-weight: bold;}
                    #transportation-title{margin-top: 65%;}
                    #transportation-span{margin-top: 72%;}

            }

            
        }
    

    
    }

    .reassurance-flex-box{
        display: flex;
        flex-wrap: nowrap;
        background: linear-gradient(0deg, rgba(237,255,246,1) 76%, rgba(255,255,255,1) 100%);
        padding-left: 10%;
        padding-top: 10%;

        .text{
            width: 35%;

            h3{
                color: #404145;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
            }

            ul{
                list-style-type: none;
                
                .sub-heading{
                    margin-bottom: 2%;
                }

                .bold{
                    color: #404145;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    font-style: bold;
                }

                .info{
                    color: #62646a;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    font-style: bold;
                }

            }
        }

        .image-container{
            padding-left: 5%;
            padding-top: 2%;
            width: 50%;
            .image{
                width: 100%;
            }
        }
    }

    .getStarted{
        background-color: #3e7258;
        padding-top: 5%;
        padding-left: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        display: flex;
        flex-wrap: nowrap;
        height: 55vh;


        h5{
            font-size: 2rem;
            color: white;
            text-align: left;
        }

        .getStarted-btn{
            padding: 3%;
            border: none;
            border-radius: .5rem;
            font-size: 1.1rem;
            color: black;
            background-color: #ffff !important;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            a{
                text-decoration: none;
                color: black;
            }
        }

        .getStarted-btn:hover{
            transform: scale(1.1);

        }

        .image{
            margin-top: -5%;
            margin-left: 5%;
            overflow: hidden;
            

        }
        
    }

     
}//End main container

@media (min-width: 681px) and (max-width: 767px) {
    .header {
       
            .logged_out-navbar {
                margin-left: 47%;
                margin-top: 2%;

                ul {
                    li {
                                a {
                                    font-size: 1.2rem; /* you can adjust the font size */
                                }
                        }
                }
            }
       
         
    
        .red-gradient {
            .logo{
                width: 30%;
                margin-top: -12%;
            }
    
            .search_form{
                margin-top: -4%;
                margin-left: -8%;
         
                .search {
                    height: 30px;
                }
    
                .category{
                    left: 420px;
                    margin-top: -4%;
                    height: 30px;
                }
        
                .search-btn{
                    font-size: 1.2rem;
                    margin-left: 52%;
                    margin-top: 12%;
                    border: none !important;
                    background-color: transparent;
                    width: 0;
                    outline: none;
                }
        
    
            }
           
        
        }
     
    
    }//End header

    .home-main-container{
        
        .getStarted{
            padding-top: 5%;
            padding-left: 2%;
            margin-left: 4%;
            width: 90vw;
        .signup-cta{
            flex: 1;
            h5{
                font-size: 2rem;
                color: white;
                text-align: left;
            }
        }
    
            .image{
                flex: 2;
                margin-left: unset;
                overflow: hidden;
                img{
                    object-fit: contain;
                    margin-left: -35%;;
                }
                
    
            }
           
    
            
        }
    }
   
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
       
            .logged_out-navbar {
                margin-left: 50%;
                margin-top: 2%;
                ul {
                    li {
                                a {
                                    font-size: 1.3rem; /* you can adjust the font size */
                                }
                        }
                }
            }
       
         
    
        .red-gradient {
            height: 30vh;
    
            .logo{
                width: 30%;
                margin-top: -10%;
                margin-left: 6.5%;
            }
    
            .title {
                font-weight: 600px;
                font-family: Arial;
                font-size: 2rem;
                position: absolute;
                top: 7%;
                left: 7.5%;
                color: white;
            }
            
    
            .search_form{
                width: 100%;
                margin-top: -3%;
                margin-left: -5%;
                .tagline{
                    font-weight: 600px;
                    font-family: Arial;
                    font-size: 1.2rem;
                    position: absolute;
                    top: 44%;
                    left: 7%;
                    color: white;
                }
                .search {
                    height: 30px;
                }
    
                .category{
                    left: 420px;
                    margin-top: -4%;
                    height: 30px;
                }
        
                .search-btn{
                    font-size: 1.5rem;
                    position: absolute;
                    margin-left: 45%;
                    margin-top: 10%;
                    border: none !important;
                    background-color: transparent;
                    width: 0;
                    outline: none;
                }
        
    
            }
           
        
        }
     
    
    }//End header
   
    .home-main-container{
        
        .getStarted{
            padding-top: 5%;
            padding-left: 2%;
            margin-left: 5%;
            width: 90vw;
        .signup-cta{
            flex: 1;
            h5{
                font-size: 2rem;
                color: white;
                text-align: left;
            }
        }
    
            .image{
                flex: 2;
                margin-left: unset;
                overflow: hidden;
                img{
                    object-fit: contain;
                    margin-left: -35%;;
                }
                
    
            }
           
    
            
        }
    }
}

@media (min-width: 1024px) and (max-width: 1080px) {
   
    .header {
        
        .logged_out-navbar {
            margin-left: 58%;
            margin-top: 1.5%;
        }
        .red-gradient {
            .logo{
                width: 25%;
                margin-top: -7%;
                margin-left: 6.5%;
            }

            .search_form{
                .search {
                    left: 60px;
                }

                .category{
                    left: 390px;
                    top: 100px;
                }

                .search-btn{
                    font-size: 1.5rem;
                    margin-left: 31%;
                    margin-top: 8.5%;
                    z-index: 5;
                }
        

            }
        
        
        }
    

    }//End header
   
    .home-main-container{
        margin-top: 14%;
        position: absolute;
        background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(241,253,247,1) 100%);
        
        .getStarted{
            padding-left: 5%;
    
            .image{
                margin-top: -5%;
                margin-left: 5%;
                overflow: hidden;
                img{
                    margin-left: -25%;
                }
    
            }
            
        }
    
         
    }//End main container
}
   
