
*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
body{
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(0deg, rgba(237,255,246,1) 76%, rgba(255,255,255,1) 100%);
}

button{
  background-color: #fd8700 !important;
}

.epr-btn{
  background-color: unset !important;
}