
*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

button{
  background-color: #fd8700 !important;
}

.epr-btn{
  background-color: unset !important;
}