// .globalnav{
    .logged_in-navbar, .logged_out-navbar{
        height: 5.5rem;
        width: 100vw;
    }
    .logged_in-navbar{
        .active-status{
            color: rgb(0, 255, 0);
            font-size: .5em;
            margin-right: 5%;
        }
        
        .nav-tabs{
            margin-left: 55%;
    
        }
    
        .nav-profile_picture{
            width: 25%;
            height: 60%;
            border-radius: 50rem;
        }
    
        .nav-item{
            padding-top: 4%;
            
        }
    
        .dropdown-toggle{
            width: 100%;
        }
    
        .dropdown-menu{
            width: 10%;
        }
    }
    
    .logged_out-navbar{
        .nav-tabs{
            margin-left: 50%;
            padding-top: 1%;
            font-size: 1.3rem;
        }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        background-color: rgb(33,37,41);
        padding: 1%;
        padding-bottom: 0;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        
        
        .logo{
            width: 15%;
            object-fit: contain;
        }
        .logo:hover{
            cursor: pointer
        }
    
        .dropdown-menu{
            background-color: rgb(33,37,41);
            border-radius: .4rem;
    
        }
            a{
                color: white;
            }
    }
    
    .navbar-search-form{
        width: 45%;
        margin-left: 17%;
        top: 4.5%;
        position: absolute;
        .search-input-field{
            width: 60%;
            margin-left: 1%;
            background-color: white;
            color: black;
        }
        .search-btn{
            background-color: #3e7258;
            border-color: #3e7258;
            margin-left: 2%;
        }
        .select-input-field{
            margin-left: 1%;
            font-size: 1rem;
        }
    }

//Mobile
@media (min-width: 384px) and (max-width: 411px) {
    .logged_in-navbar{
        .nav-tabs{
            margin-left: unset;
            font-size: .8rem;
        }
    }
    
    .logged_out-navbar{
            .nav-tabs{
                margin-left: unset;
                font-size: .8rem;
            }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
           display: none;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}
@media (min-width: 412px) and (max-width: 424px) {
    .logged_in-navbar{
        .nav-tabs{
            margin-left: unset;
            font-size: .9rem;
        }
    }
    
    .logged_out-navbar{
        width: 100%;
            .nav-tabs{
                margin-left: unset;
                font-size: .9rem;
            }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
           display: none;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}
@media (min-width: 425px) and (max-width: 499px) {
    .logged_in-navbar{
        .nav-tabs{
            margin: 0 auto;
            font-size: .9rem;
        }
    }
    
    .logged_out-navbar{
            .nav-tabs{
                margin: 2% auto;
                font-size: .9rem;
            }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
           display: none;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 680px) {
    .logged_in-navbar{
        .nav-tabs{
            margin: 0 auto;
            font-size: .9rem;
        }
    }
    
    .logged_out-navbar{
            .nav-tabs{
                margin: 2% auto;
                font-size: .9rem;
            }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
           display: none;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}


@media (min-width: 681px) and (max-width: 767px) {
    .logged_in-navbar{
        .nav-tabs{
            margin: 0 auto;
            font-size: .9rem;
        }
    }
    
    .logged_out-navbar{
            .nav-tabs{
                margin: 2% 0 0 10%;
                font-size: .9rem;
            }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
            width: 30%;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}

//Tablet
@media (min-width: 768px) and (max-width: 1023px) {
    .logged_in-navbar{
        .nav-tabs{
            margin-left: 33%;

        }
    }
    
    .logged_out-navbar{
        .nav-tabs{
            margin-left: 15%;
           
        }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
            width: 20%;
            object-fit: contain;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}
//Small Laptop
@media (min-width: 1024px) and (max-width: 1080px) {
    .logged_in-navbar{
        .nav-tabs{
            margin-left: 33%;

        }
    }
    
    .logged_out-navbar{
        .nav-tabs{
            margin-left: 23%;
            padding-top: 1%;
            font-size: 1.3rem;
        }
    }
    
    .logged_in-navbar, .logged_out-navbar{
    
        .logo{
            width: 25%;
            object-fit: contain;
        }
    }
    
    .navbar-search-form{
        display: none;
    }
}