.logged_in-navbar, .logged_out-navbar {
  height: 5.5rem;
  width: 100vw;
}

.logged_in-navbar .active-status {
  color: rgb(0, 255, 0);
  font-size: 0.5em;
  margin-right: 5%;
}
.logged_in-navbar .nav-tabs {
  margin-left: 55%;
}
.logged_in-navbar .nav-profile_picture {
  width: 25%;
  height: 60%;
  border-radius: 50rem;
}
.logged_in-navbar .nav-item {
  padding-top: 4%;
}
.logged_in-navbar .dropdown-toggle {
  width: 100%;
}
.logged_in-navbar .dropdown-menu {
  width: 10%;
}

.logged_out-navbar .nav-tabs {
  margin-left: 50%;
  padding-top: 1%;
  font-size: 1.3rem;
}

.logged_in-navbar, .logged_out-navbar {
  background-color: rgb(33, 37, 41);
  padding: 1%;
  padding-bottom: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}
.logged_in-navbar .logo, .logged_out-navbar .logo {
  width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logged_in-navbar .logo:hover, .logged_out-navbar .logo:hover {
  cursor: pointer;
}
.logged_in-navbar .dropdown-menu, .logged_out-navbar .dropdown-menu {
  background-color: rgb(33, 37, 41);
  border-radius: 0.4rem;
}
.logged_in-navbar a, .logged_out-navbar a {
  color: white;
}

.navbar-search-form {
  width: 45%;
  margin-left: 17%;
  top: 4.5%;
  position: absolute;
}
.navbar-search-form .search-input-field {
  width: 60%;
  margin-left: 1%;
  background-color: white;
  color: black;
}
.navbar-search-form .search-btn {
  background-color: #3e7258;
  border-color: #3e7258;
  margin-left: 2%;
}
.navbar-search-form .select-input-field {
  margin-left: 1%;
  font-size: 1rem;
}

@media (min-width: 384px) and (max-width: 411px) {
  .logged_in-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.8rem;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.8rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 412px) and (max-width: 424px) {
  .logged_in-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.9rem;
  }
  .logged_out-navbar {
    width: 100%;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: unset;
    font-size: 0.9rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 425px) and (max-width: 499px) {
  .logged_in-navbar .nav-tabs {
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .logged_out-navbar .nav-tabs {
    margin: 2% auto;
    font-size: 0.9rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 680px) {
  .logged_in-navbar .nav-tabs {
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .logged_out-navbar .nav-tabs {
    margin: 2% auto;
    font-size: 0.9rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    display: none;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 681px) and (max-width: 767px) {
  .logged_in-navbar .nav-tabs {
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .logged_out-navbar .nav-tabs {
    margin: 2% 0 0 10%;
    font-size: 0.9rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    width: 30%;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logged_in-navbar .nav-tabs {
    margin-left: 33%;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: 15%;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    width: 20%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navbar-search-form {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1080px) {
  .logged_in-navbar .nav-tabs {
    margin-left: 33%;
  }
  .logged_out-navbar .nav-tabs {
    margin-left: 23%;
    padding-top: 1%;
    font-size: 1.3rem;
  }
  .logged_in-navbar .logo, .logged_out-navbar .logo {
    width: 25%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navbar-search-form {
    display: none;
  }
}/*# sourceMappingURL=navbar.css.map */